<html>
    <head>

        <title>

            <%= title %>

        </title>
        
    </head>

    <body>
        <h1>Ejs file is appeared by calling from home controller file</h1>
    </body>
</html>